.container {
  height:100%;
  width: 10px;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat (12, 1fr);/*1fr 1fr 1fr or repeat (3, 1fr), for fleibily many columns work best - written repeat(12-,(columns taking taking up 1fr);*/
  grid-template-rows: 40px auto 40px;
  grid-template-areas:
  "h h h h h h h h h h h h"   /* This is a visual representation of how the grid will look. Each h is a cell for each column as it has to match the amount of columns*/
  "m c c c c c c c c c c c"
  "f f f f f f f f f f f f ";
}

.header {
  grid-column-start: 2/-1;/*shorthand grid-column: 1/3, or 1/-1 if the number of columns is not knowns in grid*/
  /*grid-column-end: 3; removed if shorthand above is written*/
}

.menu {
  grid-row: 1 / 3;  /*grid-column-start: 1;  grid-column-end: 3;*/
  //grid-area:
  }
}

.content {
  grid-column: 2/-1;
}

.footer {
  grid-column: 1 / -1;/*or 1/span 2; or 1/3;*/
}
