.grid-container {
  display: grid;
  height: auto;/*height of container*/
  align-content: space-around;/*aligns rows in the container*/
  justify-content: space-evenly;/*justifys column space in the container*/
  grid-template-columns: 1fr 1fr 1fr;/*Controls column size (Make the grid smaller than the container)*/
  /*grid-template-rows: 100px auto 65px auto;Controls row size (Make the grid smaller than the container)*/
  grid-auto-rows: minmax (100px, auto);
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;

}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border: 3px solid black;
}

h1{
  font-family:'Pacifico', cursive;
  color: white;
  background-color: purple;
  text-align: center;
  padding: 20px 0;
  font-size: 60px;
  border: 3px solid black;
}
.item1,.item2,.item5 {
  grid-column: 1 / span 3;
}

.item1{
  display: flex;
}
.item1 > div {
background-color: black;
grid-column: 1 / -1;
align-items: center;
padding: 0px 40px;
color:white;
font-family: 'Pacifico', cursive;
font-size: 40px;
margin: 20px 0px;
}

.item3 {
    grid-column: 1 / span 2;
}

.grid-container >.item3 {
  text-align: left;
  background-color: white;
  color:black;
  font-family: 'Shadows Into Light', cursive;
  font-size: 22px;
  margin: 20px 0px;
  padding-left: 1em;
}

.grid-container >.item4{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows:90px;
  align-content: space-around;
  justify-content: center;
  background-color: purple;
  grid-gap:1em;
  padding:1em;
}/*nested grid*/

.item4 > div{
  border:#333 3px solid;
  background-color: #8e59a5;
  text-align: center;
  color:white;
  font-family: 'Shadows Into Light', cursive;
  font-size: 50px;
  margin: 10px 10px;
}

  .grid-container > .item5 {
    background-color: black;
    color:purple;
    font-family: "Pacifico", cursive;
    font-size: 30px;
    margin: 20px 0px;
  }

  /*social media icons*/
  /* Style all font awesome icons */

  .fa,.gallery.html {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    width: 70px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border-radius: 30%;
    margin: 10px 30px;
  }

  /* Add a hover effect if you want */
  .fa:hover {
      opacity: 0.7;
  }

  /* Set a specific color for each brand */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-pinterest {
    background: #cb2027;
    color: white;
  }

  .fa-snapchat {
    background: yellow;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .fa-flickr {
    background: #f40083;
    color: white;
  }
